
/*======reset styles======*/


*,
html,
body {
  font-family: lato;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}


/*======header (hero top content) styles======*/


header {
  background: #454545;
  color: white;
}

.header-player-content {
  display: flex;
  padding: 25px;
}

.header-player-logo {
  margin: 0 45px;
}

.header-player-logo img {
  width: 160px;
  height: 160px;
}

.header-player-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.content-info p {
  font-size: 14px;
}

.header-player-icons {
  display: flex;
  align-content: center;
  font-size: 12px;
}


/*======sidebar (nav sticky left) styles======*/


.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #f0f0f0;
  width: 40px;
  height: 90%;
  position: fixed;
  top: 0;
  left: 0;
}


.icons-container {
  display: flex;
  margin-right: 4px;
}

.player-icon {
  margin-right: 2px;
  font-size: 14px;
}


/*====== main (table playlist) styles======*/


table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table {
  margin: 0 0 0 45px;
}

/*======footer (Nav sticky bottom) styles======*/

footer {
  padding: 15px;
  position: fixed;
  bottom: 0;
  background: #42689b;
  width: 100%;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-nav-logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.footer-content {
  color: white;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.footer-content p {
  margin-bottom: 5px;
}

.footer-icons i {
  padding: 0 40px;
  color: white;
  font-size: 16px;
}
